<form class=" mt-3 ml-1 mr-1" action="" method="post">
    {% csrf_token %}

    <div class="form-two-col-grid">
        <div class="span-two">{{form.title.label}}</div>
        <div class="span-two mb-2">{{form.title}}</div>

        <div>{{form.isbn.label}}</div>
        <div>{{form.isbn}}</div>

        <div>{{form.year.label}}</div>
        <div>{{form.year}}</div>

        <div>{{form.pages.label}}</div>
        <div>{{form.pages}}</div>
    </div>

    <div class="form-two-col-grid mt-3">
        {% if action == "add" %}
        <input type="submit" class="btn btn-lg btn-success w-100" name="add" value="Add">
        {% endif %}

        {% if action == "modify" %}
        <input type="submit" class="btn btn-lg btn-primary w-100" name="modify" value="Modify">
        {% endif %}

        <a class="btn btn-lg btn-warning w-100" href="{% url 'books:book_detail' book.id %}">Cancel</a>
    </div>
</form>
