<div class="book-detail-grid mt-4 ml-1 mr-1">
    <div class="two-col-grid-text">Title:</div><div class="two-col-grid-text">{{ book.title }}</div>
    <div class="two-col-grid-text">Author:</div>
    <div class="two-col-grid-text">
        {% for author in book.authors.all %}
        <a href="{% url 'books:bibliography' author.id %}">{{ author }}</a>{% if not forloop.last %}, {% endif %}
        {% endfor %}
    </div>
    <div class="two-col-grid-text">Published:</div><div class="two-col-grid-text">{{ book.year }}</div>

    {% if book.saga %}
    <div class="two-col-grid-text">Saga:</div><div class="two-col-grid-text">{{ book.saga }} #{{book.index_in_saga}}</div>
    {% endif %}
</div>

<div class="three-col-grid mt-3 ml-1 mr-1">
    <a class="btn btn-lg btn-primary w-100" href="{% url 'books:modify_book' book.id %}">Modify</a>
    <a class="btn btn-lg btn-primary w-100" href="{% url 'books:add_edition' book.id %}">+ Edition</a>
    {% if is_being_read %}
    <a class="btn btn-lg btn-primary w-100" href="{% url 'books:update_book_reading' book.id %}">Update</a>
    {% endif %}
</div>

<hr>

{% for edition in editions %}
<div class="isbn-grid ml-2 mr-1">
    <div class="w-100" style="background-color: white;">ISBN: {{edition.isbn}}</div>
    <div class="w-100" style="background-color: white;">
    <a class="btn btn-sm btn-primary" href="{% url 'books:modify_edition' edition.id %}">Modify</a>
    {% if not edition.owned %}
    <a class="btn btn-sm btn-success" href="{% url 'books:mark_edition_owned' edition.id %}">Own</a>
    {% endif %}
    {% if not is_being_read %}
    <a class="btn btn-sm btn-success" href="{% url 'books:mark_reading_started' edition.id %}">Start</a>
    {% endif %}
    </div>
</div>

<div class="book-detail-grid mt-4 ml-1 mr-1">
    <div class="two-col-grid-text">Title:</div>
    <div class="two-col-grid-text">{{ edition.title }}</div>

    <div class="two-col-grid-text">Pages:</div>
    <div class="two-col-grid-text">{{ edition.pages }}</div>

    <div class="two-col-grid-text">Published:</div>
    <div class="two-col-grid-text">{{ edition.year }}</div>
</div>
<hr>
{% endfor %}
