{% load component_tags %}

{% component "search" form=form / %}

<!-- List of BOOKS, if any -->
<div class="saga-grid-mobile mt-3 ml-1 mr-1">
    {% for book in matching_books %}
    <div class="{{book.status}}">
        <a href="{% url 'books:book_detail' book.id %}" style="color: #111111;">{{book}}</a>
    </div>
    {% endfor %}
</div>

  <!-- List of AUTHORS, if any -->
<div class="saga-grid-mobile mt-3 ml-1 mr-1">
  {% for author in matching_authors %}
  <a href="{% url 'books:bibliography' author.id %}" style="color: #111111;">{{author}}</a>
  {% endfor %}
</div>
