<form class="mt-3 ml-1 mr-1" action="" method="post">
    {% csrf_token %}

    <div class="form-two-col-grid">
        <div class="span-two">{{form.search_for.label}}:</div>
        <div class="span-two">{{form.search_for}}</div>
    </div>

    <input type="submit" class="mt-2 btn btn-lg btn-success w-100" value="Submit">
</form>

<div class="saga-grid-mobile mt-3 ml-1 mr-1">
    {% for book in matching_books %}
    <div class="{{book.status}}">
        <a href="{% url 'books:book_detail' book.id %}" style="color: #111111;">{{book}}</a>
    </div>
    {% endfor %}
</div>
