{% load books_filters %}

{% for reading in current_readings %}
<div class="stats-book-line-mobile mt-4 mb-1">
    <div class="sbl-mobile-title">
        <a href="{% url 'books:book_detail' reading.edition.book.id %}">{{reading.edition.title}}</a>
    </div>
    <div class="sbl-mobile-buttons" id="update-button-block-{{reading.id}}">
<!--        <a class="btn btn-sm btn-success h-auto" href="{% url 'books:update_reading' reading.id %}">Update</a>-->
        <button class="btn btn-sm btn-success h-auto" onclick="toggle_slider('{{reading.id}}')">Update</button>
    </div>
    <div class="sbl-mobile-buttons" id="save-button-block-{{reading.id}}" style="display: none;">
        <button class="btn btn-sm btn-success h-auto" onclick="save_reading_update('{{reading.id}}')">Save</button>
        <button class="btn btn-sm btn-warning h-auto" onclick="toggle_slider('{{reading.id}}')">Cancel</button>
    </div>

    <div class="w-100"></div>
    <div class="sbl-mobile-bar progress w-100">
        <div class="progress-bar bg-primary pl-3" role="progressbar"
             style="width: {{reading.percent_read}}%;"></div>
    </div>

    <div class="slidecontainer sbl-mobile-slider w-100" id="slider-block-{{reading.id}}" style="display: none;">
        <div id="pages-count-{{reading.id}}"
             data-current-pages="{{reading.page_progress}}"
             data-total-pages="{{reading.edition.pages}}"
        ></div>
        <div id="pages-percent-{{reading.id}}"></div>
        <div>
            <input type="range"
                   min="0"
                   max="{{reading.edition.pages}}"
                   value="{{reading.page_progress}}"
                   oninput="update_slider('{{reading.id}}')"
                   id="slider-element-{{reading.id}}">
        </div>
    </div>
</div>
{% endfor %}

<div class="mt-3 mb-3" id="stats-progress-block">
    <div class="card-stack-mobile">
        <div class="card-mobile
        {% if state.expected_books_by_end_of_year < state.goal %} card-fail {% else %} card-success {% endif %}">
            {{state.books_read|floatformat:1}} books read
        </div>

        <div class="card-mobile
        {% if state.expected_books_by_end_of_year < state.goal %} card-fail {% else %} card-success {% endif %}">
            {{state.expected_books_by_end_of_year|floatformat:1}} books expected
        </div>

        <div class="card-mobile
            {% if state.pages_superavit > 0 %} card-success {% else %} card-fail {% endif %}">
            {{state.pages_superavit|floatformat:1|absolute}}
            {% if state.pages_superavit > 0 %} pages ahead {% else %} pages behind {% endif %}
        </div>
    </div>
    <button class="btn btn-primary w-100" onclick="toggle_stats()">Show stats</button>
</div>

<div class="mt-3 mb-3" id="stats-stats-block" style="display: none;">
    <div class="card-stack-mobile">
        <div class="card-mobile card-info">{{state.pages_read|floatformat:0}} pages read</div>

        <div class="card-mobile card-info">{{state.pages_per_day|floatformat:1}} pages/day</div>

        <div class="card-mobile card-info">{{state.pages_per_book|floatformat:1}} pages/book</div>
    </div>
    <button class="btn btn-success w-100" onclick="toggle_stats()">Show progress</button>
</div>
