{% load books_filters %}

{% for reading in current_readings %}
<div class="stats-book-line-mobile mt-4 mb-1">
    <div class="sbl-mobile-title">
        <a href="{% url 'books:book_detail' reading.book_id %}">{{reading.title}}</a>
    </div>
    <div class="sbl-mobile-update-button" id="update-button-block-{{reading.id}}">
        <button class="btn btn-sm btn-success h-auto" onclick="toggle_slider('{{reading.id}}')">Update</button>
    </div>

    {% if reading.deadline %}
    <div class="w-100"></div>
    {% if not reading.pages_per_day_to_meet_deadline %}
        <div class="sbl-mobile-deadline good-text w-100">
            <div class="" style="">{{reading.deadline}}</div>
        </div>
    {% else %}
        <div class="sbl-mobile-deadline bad-text w-100">
            <div class="" style="">{{reading.deadline}} &#8594; {{reading.pages_per_day_to_meet_deadline|floatformat:1}} ppd</div>
        </div>
    {% endif %}
    {% endif %}

    <div class="sbl-mobile-buttons" id="save-button-block-{{reading.id}}" style="display: none;">
        <button class="btn btn-sm btn-success h-auto"
                id="save-button-{{reading.id}}"
                onclick="save_reading_update('{{reading.id}}')">Save</button>
        <button class="btn btn-sm btn-danger h-auto"
                id="dnf-button-{{reading.id}}"
                onclick="dnf_reading('{{reading.id}}')">DNF</button>
        <button class="btn btn-sm btn-info h-auto"
                id="deadline-button-{{reading.id}}"
                onclick="toggle_deadline('{{reading.id}}')">Deadline</button>
        <button class="btn btn-sm btn-warning h-auto" onclick="toggle_slider('{{reading.id}}')">Cancel</button>
    </div>

    <div class="w-100"></div>
    <div class="sbl-mobile-bar progress w-100">
        <div class="progress-bar bg-primary pl-3" role="progressbar"
             style="width: {{reading.percent_read}}%;"></div>
    </div>

    <div class="sbl-mobile-slider w-100" id="deadline-block-{{reading.id}}" style="display: none;">
        <div class="form-two-col-grid-deadline mt-3">
            <div class="w-100">Date</div>
            <div class="w-100">
                <input type="text" id="deadline-input-{{reading.id}}" name="name" minlength="16" maxlength="16"/>
            </div>
            <div class="w-100">Percent</div>
            <div class="w-100">
                <input type="text" id="deadline-percent-input-{{reading.id}}" name="name" required minlength="4" maxlength="8" size="10" />
            </div>
        </div>
    </div>

    <div class="slidecontainer sbl-mobile-slider w-100" id="slider-block-{{reading.id}}" style="display: none;">
        <div id="pages-count-{{reading.id}}"
             data-current-pages="{{reading.pages_read}}"
             data-total-pages="{{reading.pages}}"
        ></div>
        <div id="pages-percent-{{reading.id}}"></div>
        <div class="sbl-mobile-slider-line">
            <button class="btn btn-sm btn-primary btn-slider" onclick="add_pages_to_slider({{reading.id}}, -1)">-</button>
            <div style="margin-top: auto; margin-bottom: auto">
                <input type="range"
                       min="{{reading.pages_read}}"
                       max="{{reading.pages}}"
                       value="{{reading.pages_read}}"
                       oninput="update_slider('{{reading.id}}')"
                       id="slider-element-{{reading.id}}">
            </div>
            <button class="btn btn-sm btn-primary btn-slider" onclick="add_pages_to_slider({{reading.id}}, 1)">+</button>
        </div>
    </div>
</div>
{% endfor %}

<div class="mt-3 mb-3" id="stats-progress-block">
    <div class="card-stack-mobile">
        <div class="card-mobile
        {% if state.expected_books_by_end_of_year < state.goal %} card-fail {% else %} card-success {% endif %}">
            {{state.books_read|floatformat:1}} books read
        </div>

        <div class="card-mobile
        {% if state.expected_books_by_end_of_year < state.goal %} card-fail {% else %} card-success {% endif %}">
            {{state.expected_books_by_end_of_year|floatformat:1}} books expected
        </div>

        <div class="card-mobile
            {% if state.pages_superavit > 0 %} card-success {% else %} card-fail {% endif %}">
            {{state.pages_superavit|floatformat:1|absolute}}
            {% if state.pages_superavit > 0 %} pages ahead {% else %} pages behind {% endif %}
        </div>
    </div>
    <button class="btn btn-primary w-100" onclick="toggle_stats()">Show stats</button>
</div>

<div class="mt-3 mb-3" id="stats-stats-block" style="display: none;">
    <div class="card-stack-mobile">
        <div class="card-mobile card-info">{{state.pages_read|floatformat:0}} pages read</div>

        <div class="card-mobile card-info">{{state.pages_per_day|floatformat:1}} pages/day</div>

        <div class="card-mobile card-info">{{state.pages_per_book|floatformat:1}} pages/book</div>
    </div>
    <button class="btn btn-success w-100" onclick="toggle_stats()">Show progress</button>
</div>
