{% extends "books/base/base_books.html" %}

{% load login_filters %}

{% block section_name %}
User
{% endblock %}

{% block body %}
{% if form.errors %}
<p>An error happened. Please try again.</p>
{% endif %}

<form class="mt-4" method="POST" action="{% url 'user' %}">
    {% csrf_token %}

    <div>
    {{form}}
    </div>

    <div class="mt-5">
        <button class="big-button good" type="submit">Save</button>
        <a class="big-button cancel" href="{% url 'main_index' %}">Cancel</a>
        <a class="big-button bad" href="{% url 'login:logout' %}">Log out</a>
    </div>
</form>
{% endblock %}
