{% extends "base.html" %}
{% load login_filters %}

{% block section_name %}
Log in
{% endblock %}

{% block body %}
{% if form.errors %}
<p>Incorrect user name and/or password. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
        <p>
            Your account doesn't have access to this page.
            To proceed, please login with an account that has access.
        </p>
    {% else %}
        <p>Please login to see this page.</p>
    {% endif %}
{% endif %}
<form method="POST" action="{% url 'login:login' %}">
    {% csrf_token %}
    {{ form }}

    <div>
        <button class="btn btn-success btn-lg mt-3" type="submit">Log in</button>
        <a class="btn btn-lg mt-3 btn-warning" href="{% url 'main_index' %}">Cancel</a>
    </div>
</form>

<p>Don't have an account? <a href="{% url 'login:signup' %}">Sign up</a></p>
{% endblock %}
