{% extends "base.html" %}

{% load static %}

{% block top_top %}
{% if banner %}
<div class="banner index-color">{{banner}}</div>
{% endif %}
{% endblock %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{% static 'books/css/books.css' %}" />
<script src="{% static 'books/js/books.js' %}"></script>
<script src="{% static 'books/js/reading_update.js' %}"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
{% endblock %}

{% block top_left %}
{% include "books/base/top_menu.html" %}
{% endblock %}

{% block top_middle %}
<div></div>
{% endblock %}

{% block top_right %}
{% include "apps_menu.html" %}
{% endblock %}

{% block top_mobile %}
{% include "books/mobile/top_menu.html" %}
{% endblock %}
