{% extends "books/base_books.html" %}

{% load bootstrap4 %}

{% block body %}
<form action="" method="post" class="ml-3 mt-4">
    {% csrf_token %}
    <div class="add-book-form">
    {% bootstrap_form form layout="vertical" %}
    </div>

    <div class="mt-3">
        {% if action == "add" %}
        <input type="submit" class="big-button primary" name="wished" value="Wished">
        <input type="submit" class="big-button primary" name="ordered" value="Ordered">
        <input type="submit" class="big-button primary" name="acquired" value="Acquired">
        <input type="submit" class="big-button primary" name="reading" value="Reading">
        <a class="big-button cancel" href="{% url 'books:stats' %}">Cancel</a>
        {% endif %}

        {% if action == "modify" %}
        <input type="submit" class="submit mt-3" name="modify" value="Modify">
        <a class="big-button cancel" href="{% url 'books:book_detail' book.id %}">Cancel</a>
        {% endif %}
    </div>
</form>
{% endblock %}
