{% extends "books/base/base_books.html" %}

{% load static %}

{% block title %}
Sagas
{% endblock %}

{% block body %}
<div class="block-1 w-100">
    {{sagas.read|length}} sagas completed
    <button class="toggle" onclick="mytoggle('show_completed_sagas')">[toggle show]</button>
</div>

<div id="show_completed_sagas" style="display: none;">
    {% for completed_saga in sagas.read %}
    <div class="block-2 w-50">
        {{completed_saga.name}} <button class="toggle" onclick="mytoggle('{{completed_saga.name}}')">
        [toggle show]</button>
    </div>

    <div class="saga-grid" id="{{completed_saga.name}}" style="display: none;">
        {% for book, status in completed_saga.books %}
        <div class="status-{{status}}">
            <a href="{% url 'books:book_detail' book.id %}" style="color: #111111;">
                #{{book.index_in_saga}} {{book}}</a>
        </div>
        {% endfor %}
    </div>
    {% endfor %}
</div>

<div class="block-1 w-100">
    {{sagas.owned|length}} sagas owned
    <button class="toggle" onclick="mytoggle('show_owned_sagas')">[toggle show]</button>
</div>

<div id="show_owned_sagas" style="display: none;">
    {% for owned_saga in sagas.owned %}
    <div class="block-2 w-50">
        {{owned_saga.name}} <button class="toggle"
                                    onclick="mytoggle('{{owned_saga.name}}')">[toggle show]</button>
    </div>

    <div class="saga-grid" id="{{owned_saga.name}}" style="display: none;">
        {% for book, status in owned_saga.books %}
        <div class="status-{{status}}">
            <a href="{% url 'books:book_detail' book.id %}" style="color: #111111;">
                #{{book.index_in_saga}} {{book}}</a>
        </div>
        {% endfor %}
    </div>
    {% endfor %}
</div>

<div class="block-1 w-100">
    {{sagas.not_owned|length}} sagas not owned
    <button class="toggle" onclick="mytoggle('show_not_owned_sagas')">[toggle show]</button>
</div>

<div id="show_not_owned_sagas" style="display: none;">
    {% for not_owned_saga in sagas.not_owned %}
    <div class="block-2 w-50">
        {{not_owned_saga.name}}
        <button class="toggle" onclick="mytoggle('{{not_owned_saga.name}}')">[toggle show]</button>
    </div>

    <div class="saga-grid" id="{{not_owned_saga.name}}" style="display: none;">
        {% for book, status in not_owned_saga.books %}
        <div class="status-{{status}}">
            <a href="{% url 'books:book_detail' book.id %}" style="color: #111111;">
                #{{book.index_in_saga}} {{book}}</a>
        </div>
        {% endfor %}
    </div>
    {% endfor %}
</div>
{% endblock %}

