{% extends "books/base_books.html" %}

{% load static %}

{% block title %}
Sagas
{% endblock %}

{% block body %}
<div class="block-1 w-100">
    {{sagas.completed|length}} sagas completed
    <button class="toggle" onclick="mytoggle('show_saga_completed')">[toggle show]</button>
</div>

<div id="show_saga_completed" style="display: none;">
    {% for completed_saga in sagas.completed %}
    <div class="block-2 w-50">
        {{completed_saga}} <button class="toggle" onclick="mytoggle('{{completed_saga}}')">[toggle show]</button>
    </div>

    <div class="saga-grid" id="{{completed_saga}}" style="display: none;">
        {% for book in completed_saga.books %}
        <div class="{{book.status}}">
            <a href="{% url 'books:book_detail' book.id %}" style="color: #111111;">
                #{{book.index_in_saga}} {{book}}</a>
        </div>
        {% endfor %}
    </div>
    {% endfor %}
</div>

<div class="block-1 w-100">
    {{sagas.owned|length}} sagas owned
    <button class="toggle" onclick="mytoggle('show_saga_owned')">[toggle show]</button>
</div>

<div id="show_saga_owned" style="display: none;">
    {% for saga in sagas.owned %}
    <div class="block-2 w-50">
        {{saga}} <button class="toggle" onclick="mytoggle('{{saga}}')">[toggle show]</button>
    </div>

    <div class="saga-grid" id="{{saga}}" style="display: none;">
        {% for book in saga.books %}
        <div class="{{book.status}}">
            <a href="{% url 'books:book_detail' book.id %}" style="color: #111111;">#{{book.index_in_saga}} {{book}}</a>
        </div>
        {% endfor %}
    </div>
{% endfor %}
</div>

<div class="block-1 w-100">
    {{sagas.missing|length}} sagas missing one or more books
    <button class="toggle" onclick="mytoggle('show_saga_missing')">[toggle show]</button>
</div>

<div id="show_saga_missing" style="display: none;">
    {% for saga in sagas.missing %}
    <div class="block-2 w-50">
        {{saga}} <button class="toggle" onclick="mytoggle('{{saga}}')">[toggle show]</button>
    </div>

    <div class="saga-grid" id="{{saga}}" style="display: none;">
        {% for book in saga.books %}
        <div class="{{book.status}}">
            <a href="{% url 'books:book_detail' book.id %}" style="color: #111111;">#{{book.index_in_saga}} {{book}}</a>
        </div>
        {% endfor %}
    </div>
    {% endfor %}

</div>
{% endblock %}

