{% extends "books/base_books.html" %}

{% load static %}

{% block title %}
Stats
{% endblock %}

{% block body %}
<div class="stats-style" style="margin-top: 35px; margin-left: 10px; margin-right: 10px;">
    <div class="stats-book-line" style="margin-top: 35px; margin-left: 10px; margin-right: 10px;">
        {% for book, pages_read, percent_read in currently_reading_books %}
        <div class="progress bg-secondary" style="width: 100%; height: 50px; font-size: 30px;">
            <div class="progress-bar bg-primary pl-3 text-white" role="progressbar"
                 style="width: {{percent_read}}%;">{{book.title}} ({{pages_read}} / {{book.pages}})</div>
        </div>
        <a class="modify-condensed" href="{% url 'books:book_detail' book.id %}">Details</a>
        <a class="modify-condensed" href="{% url 'books:update_book_progress' book.id %}">Update</a>
        {% endfor %}
    </div>

    <h2 class="mt-4">Books</h2>

    <div class="card-grid">
        <div></div>
        <div class="card card-info">
            <div class="card-title">Expected</div>
            <div class="card-value">{{state.expected_books_so_far|floatformat:1}}</div>
        </div>

        <div class="card
        {% if state.expected_books_by_end_of_year < state.goal %} card-fail {% else %} card-success {% endif %}">
            <div class="card-title">Read</div>
            <div class="card-value">{{state.books_read|floatformat:1}}</div>
        </div>

        <div class="card
        {% if state.expected_books_by_end_of_year < state.goal %} card-fail {% else %} card-success {% endif %}">
            <div class="card-title">By end of year</div>
            <div class="card-value">{{state.expected_books_by_end_of_year|floatformat:1}}</div>
        </div>
    </div>

    <h2 class="mt-5">Pages</h2>

    <div class="card-grid">
        <div></div>
        <div class="card card-info">
            <div class="card-title">pages/day</div>
            <div class="card-value">{{state.pages_per_day|floatformat:1}}</div>
        </div>

        <div class="card card-info">
            <div class="card-title">Total</div>
            <div class="card-value">{{state.pages_read|floatformat:0}}</div>
        </div>

        <div class="card card-info">
            <div class="card-title">pages/book</div>
            <div class="card-value">{{state.pages_per_book|floatformat:1}}</div>
        </div>
    </div>
</div>
{% endblock %}