.only-desktop {
    display: "";
}

.only-mobile {
    display: none;
}

@media only screen and (max-width: 600px) {
    .only-desktop {
        display: none;
    }

    .only-mobile {
        display: block !important;
    }
}

a.condensed-btn {
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 200px;
    height: 50px;
    line-height: 50px;
    font-size: 25px;
    border-radius: 5px;
}

a.details-btn {
    background-color: #6634aa;
}

a.update-btn {
    background-color: #34aa66;
}

button.mark-read {
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 300px;
    height: 100px;
    line-height: 100px;
    font-size: 40px;
    border-radius: 8px;
    color: white;
    background-color: #ff5566;
}

input {
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 300px;
    height: 100px;
    line-height: 100px;
    font-size: 40px;
    border-radius: 8px;
    color: black;
    background-color: #ccddff;
}

label {
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 300px;
    height: 100px;
    line-height: 100px;
    font-size: 40px;
    border-radius: 8px;
    color: black;
    background-color: #ffffff;
}

.add-book-form {
    display: grid;
    grid-template-columns: 300px 900px;
    justify-items: center;
    grid-gap: 10px;
}

.add-book-form label {
    border: none;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    height: 100px;
    width: 100%;
    line-height: 100px;
    font-size: 40px;
    border-radius: 8px;
    color: black;
    padding: 2px 8px;
    background-color: #ffffff;
}

.add-book-form input {
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    height: 100px;
    width: 100%;
    line-height: 100px;
    font-size: 40px;
    border-radius: 8px;
    color: black;
    background-color: #eaeaff;
}

.big-button {
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 300px;
    height: 100px;
    line-height: 100px;
    font-size: 40px;
    border-radius: 8px;
}

.good {
    background-color: #34aa66;
}

.good:hover {
    color: white;
    background-color: #54ca86;
    text-decoration: none;
}

.bad {
    background-color: #d9534f;
}

.bad:hover {
    color: white;
    background-color: #f9736f;
    text-decoration: none;
}

.cancel {
    background-color: #f0ad4e;
}

.cancel:hover {
    color: white;
    background-color: #ffbd6e;
    text-decoration: none;
}

.primary {
    background-color: #433fd9;
}

.primary:hover {
    color: white;
    background-color: #745ff9;
    text-decoration: none;
}

.stats-style {
    font-size: 35px;
}

.stats-book-line {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr auto auto;
    justify-items: center;
    grid-gap: 10px;
}

.stats-book-line-mobile {
    display: grid;
    grid-template-columns: auto 1fr auto;
    justify-items: center;
    align-items: center;
    grid-gap: 5px;
    padding: 10px;
    font-size: 150%;
    grid-template-areas:
        "title .   buttons"
        "bar   bar bar"
}

.sbl-mobile-title {
    grid-area: title;
}

.sbl-mobile-buttons {
    grid-area: buttons;
}

.sbl-mobile-bar {
    grid-area: bar;
    height: 10px;
}

.top-buttons-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    justify-items: center;
    grid-gap: 5px;
}

.home-color {
    color: #ffffff;
    background-color: #718380;
}

.stats-color {
    color: #ffffff;
    background-color: #8f2d56;
}

.index-color {
    color: #ffffff;
    background-color: #4ea7ff;
}

.sagas-color {
    color: #ffffff;
    background-color: #d81159;
}

.add-color {
    color: #ffffff;
    background-color: #218380;
}

.top-buttons-grid a {
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    height: 80px;
    line-height: 80px;
    font-size: 40;
    border-radius: 10px;
}

.saga-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    grid-gap: 10px;
    margin-bottom: 20px;
    margin-left: 10;
    margin-right: 10;
}

.book-detail-grid {
    display: grid;
    grid-template-columns: 300px 900px;
    justify-items: center;
    grid-gap: 10px;
    font-size: 35px;
}

.index-grid {
    display: grid;
    grid-template-columns: 1.5fr 0.5fr;
    justify-items: center;
    grid-gap: 10px;
    font-size: 25px;
}

.stats-book-grid-book {
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    border-radius: 15px;
    background-color: #ceecff;
    height: 50px;
    //line-height: 50px;
}

.saga-grid div {
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    font-size: 20;
    padding-top: 3;
    padding-bottom: 3;
    border-radius: 5px;
    background-color: #ff44aa;
}

div.status-read {
    background-color: #59cb92;
}

div.status-reading {
    background-color: #95b8d1;
}

div.status-owned {
    background-color: #88a9e6;
}

div.status-not-owned {
    color: #666666;
    background-color: #feeeee;
}

button.toggle {
    border: none;
    color: #ccffcc;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    font-size: 80%;
    background-color: transparent;
}

.book-progress-plot {
    height: 500px;
}

.card-grid {
    display: grid;
    width: 100%;
    justify-items: center;
    grid-gap: 50px;
}

.card-grid-3 {
    grid-template-columns: 1fr repeat(3, 300px) 1fr;
}

.card-grid-4 {
    grid-template-columns: 1fr repeat(4, 300px) 1fr;
}

.card {
    display: grid;
    width: 100%;
    padding: 10px;
    height: 150px;
    justify-items: center;
    grid-template-columns: 1fr;
}

.card-stack-mobile {
    display: grid;
    padding: 5px;
    grid-gap: 5px;
    justify-items: center;
    grid-template-columns: 1fr;
}

.card-mobile {
    width: 100%;
    padding: 1px;
    padding-left: 10px;
    font-size: 30px;
}

.card-success {
    background-color: #50ee50;
}

.card-fail {
    background-color: #ee5050;
}

.card-info {
    width: 100%;
    background-color: #a0a0ff;
}

.card-title {
    font-size: 30px;
}

.card-value {
    font-size: 40px;
}

